/* 媒体查询：对于较小的屏幕 */
/* @media (max-width: 600px) {} */

html, body {
  overflow: hidden; /* 隐藏整个页面的滚动条 */
  width: 100%;      /* 确保html和body元素宽度占满整个视口 */
  height: 100%;     /* 确保html和body元素高度占满整个视口 */
  margin: 0;        /* 移除默认的外边距 */
  padding: 0;       /* 移除默认的内边距 */
}

/* 如果你还想隐藏 WebKit 浏览器的滚动条样式，可以添加以下规则 */
/* html, body { */
/*   &::-webkit-scrollbar { */
/*     width: 0; */
/*   } */
/* } */

/* 滚动条整体部分 */
::-webkit-scrollbar {
  width: 8px; /* 垂直滚动条的宽度 */
  height: 8px; /* 水平滚动条的高度 */
}

/* 滚动条的滑块部分 */
::-webkit-scrollbar-thumb {
  background-color: var(--p-button-primary-background); /* 滑块的背景颜色  */
  border-radius: 8px; /* 滑块的圆角 */
}

/* 滚动条的轨道部分 */
::-webkit-scrollbar-track {
  background-color: transparent; /* 轨道的背景颜色 */
}

/* 滚动条的轨道的两端按钮 */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

/* 滚动条的轨道的角落 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

