.container {
    display: flex;
    flex-wrap: wrap;
    /* 允许子元素换行 */
    justify-content: space-between;
}

.left-to-right,
.right-to-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* 允许子元素在必要时换行 */
}

.left-to-right {
    justify-content: flex-start;
    /* 子元素从左往右排列 */
}

.right-to-left {
    justify-content: flex-end;
    /* 子元素在容器内靠右对齐 */
    margin-left: auto;
    /* 将第二个 div 推到容器的右侧 */
    gap: 0.5rem;
    /* 容器内部的元素间隔为 0.5rem */
}

/* 媒体查询：对于较小的屏幕 */
/* @media (max-width: 600px) {} */

html, body {
  overflow: hidden; /* 隐藏整个页面的滚动条 */
  width: 100%;      /* 确保html和body元素宽度占满整个视口 */
  height: 100%;     /* 确保html和body元素高度占满整个视口 */
  margin: 0;        /* 移除默认的外边距 */
  padding: 0;       /* 移除默认的内边距 */
}

/* 如果你还想隐藏 WebKit 浏览器的滚动条样式，可以添加以下规则 */
html, body {
  &::-webkit-scrollbar {
    width: 0;     /* 滚动条的宽度设置为0 */
  }
}
